* {
    margin: 0;
}

body {
    margin: 160px 283px;
    text-align: center;
    font-family: "Inter";
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

h3 span {
    color: #FFC700;
}

h1 {
    font-family: "Emilys Candy";
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #FFC700;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 120px;
}

a {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFF;
}

a:hover,
.btn-primary {
    text-decoration: none;
    background-color: #FFC700;
    color: #000;
}